*{
    font-family: Arial;
}

body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

#page{
    height: 100%;
    width: 100%;
    background-color: #1A1D24;
    text-decoration: none;
}

.text{
    color: #EDEDED;
    text-decoration: none;
}

.accent{
    color: #22C55E;
}

/* NAVBAR */

#navbar{
    height: 10vh;
    display: flex;
    align-items: center;
}

#name{
    width: 28vw;
    align-items: center;
    margin-left: 2vw;
}

#navbar-links{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#menu img{
    width: 5vw;
    filter: invert(1);
}

hr{
    margin: 0;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PREVIEW */
#preview-container{
    margin-bottom: 5vw;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#preview{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.item{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}



/* SERVICES */
#services{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card{
    width: 40vw;
    height: 36vw;
    background-color: #242832;
    margin: 5%;
    display: flex;
    padding: 5%;
    flex-direction: column;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.service-card p{
    color: #cbd2df;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* FOOT */
#foot-content{
    padding: 5%;
}

.foot-text{
    color: #EDEDED;
    text-decoration: none;
    font-size: smaller;
}






a{
    position: relative;
    padding-bottom: 2px;
    color: #22C55E;
}

a::before{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #cbd2df;
  transition: all 0.5s;
}

a:hover::before{
    width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1A1D24;
}

::-webkit-scrollbar-thumb {
  background: #22C55E;
  border-radius: 5px;
}
